<div class="card text-xs-center">
    <div class="card-header text-white bg-inverse">
        <h2>My Todos</h2>
    </div>
    <div class="card-block">
        <h4 class="card-title">Add Todo</h4>
        <form class="form-inline" onsubmit="return false;">
            <div class="form-group">
                <input type="text" class="form-control" #newTodo placeholder="Whats left todo?" autofocus>
            </div>
            <button type="button" (click)="addTodo(newTodo)" class="btn btn-primary">Add Todo</button>
        </form>
    </div>
    <div class="card-block">
        <div *ngIf="!todos" class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
            <strong>No Todos.</strong> Try adding some!
        </div>

        <div class="list-group">
            <div *ngFor="let todo of todos">

                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-1">
                            <label for="isCompleted"><input id="isCompleted" type="checkbox" [checked]="todo.isCompleted" (click)="updateStatus(todo)"  ></label>
                        </div>
                        <div class="col-xs">
                            {{todo.text}}
                        </div>
                        <div class="col-xs col-sm-4 ">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary btn-danger">Delete</button>
                                <button type="button" class="btn btn-secondary btn-info">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>